* {
    /* box-sizing: content-box; */
    box-sizing: border-box;
}
.body {
    background-color: #f7f6f7;
}
.first {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    max-width: 1010px;
    width: 100%;
    height: 503px;
    border: 1px solid #d7d7d7;
    background-color: #ffffff;
 
}
.img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    width: 400px;
    margin: 64px 48px;
    
}
.prise0 {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    width: 400px;
}
.title {
    width: 178px;
    height: 22px;
    color: #2f2f2f;
    font-family: "Arial - Bold MT";
    font-size: 23px;
    font-weight: 400;
    font-weight: bold;
}
.content {
    width: 393px;
    height: 50px;
    color: #2f2f2f;
    font-family: "Arial MT";
    font-size: 15px;
    font-weight: 400;
    margin: 0;
}
.value {
    margin-top: 40px;
    width: 35px;
    height: 14px;
    color: #2f2f2f;
    font-family: "Arial MT";
    font-size: 15px;
    font-weight: 400;
}
.prise {
    width: 103px;
    height: 28px;
    color: #2f2f2f;
    font-family: "Arial MT";
    font-size: 30px;
    font-weight: bold;
}
.button {
width: 252px;
height: 50px;
}